<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PawsCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PawsCare.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
</head>
<body>
    @using Microsoft.AspNetCore.Http
    @using System.Security.Claims
    @inject IHttpContextAccessor HttpContextAccessor
    <header>
        @await Component.InvokeAsync("Menu")
        <nav class="bg-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            <img src="~/uploads/logo-header.png" style="height:80px;" />
                        </a>
                    </div>
                    <div class="col-3">
                        <div class="nav-links h-100">
                            <ul class="m-0 p-0 d-flex h-100 align-items-center">
                                <li class="nav-item list-unstyled">
                                    <a class="nav-link @(Context.Request.Path == "/" ? "active-page" : "")" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                @if (!User?.Identity?.IsAuthenticated ?? false)
                                {
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link @(Context.Request.Path == "/User/Register" ? "active-page" : "")" asp-controller="User" asp-action="Register">Register</a>
                                    </li>
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link @(Context.Request.Path == "/User/Login" ? "active-page" : "")" asp-controller="User" asp-action="Login">Login</a>
                                    </li>
                                }
                                @if (User?.Identity?.IsAuthenticated ?? true)
                                {
                                    <li class="nav-item list-unstyled">
                                        <a class="nav-link" asp-controller="User" asp-action="Logout">Logout</a>
                                    </li>
                                }
                                <li class="nav-item list-unstyled">
                                    <a class="nav-link @(Context.Request.Path == "/Home/Contacts" ? "active-page" : "")" asp-controller="Home" asp-action="Contacts">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

  @*   <footer class="">
        <div class="container">
            &copy; 2024 - PawsCare - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
