@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Orders";
    ViewData["Banner1ImageUrl"] = "uploads/banner.jpg";
}
@await Html.PartialAsync("_Banner")

<div class="container-lg container-fluid">
    @if (Model != null && Model.Any())
    {

    
<div class="table-responsive">
            <table class="orders-table table w-100 mb-5">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Country</th>
                        <th scope="col">Address</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td class="main-color fw-bold font-size-16">@order.OrderId</td>
                            <td class="main-color fw-bold font-size-16">@order.OrderDate</td>
                            <td class="main-color fw-bold font-size-16">@order.CustomerName</td>
                            <td class="main-color fw-bold font-size-16">@order.Country</td>
                            <td class="main-color fw-bold font-size-16">@order.Address</td>
                            <td class="main-color fw-bold font-size-16">@(@order.Notes ?? "-")</td>
                        </tr>
                        <tr>
                            <td class="text-start" colspan="6">
                                <ul class="m-0 p-0 d-flex gap-4">
                                    @foreach (var item in order.Items)
                                    {
                                        <li class="list-unstyled p-3">
                                            <img class="pb-2" src="~/uploads/@item.ProductImagePath" width="75" /><br />
                                            <span class="font-paytone">@item.ProductName</span><br />
                                            <span class="">Quantity</span> <span class="product-quantity">x @item.Quantity</span><br />
                                            <span>Price:</span> <span class="secondary-color fw-bold">&euro; @item.Price</span>
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
</div>
    }
    else
    {
        <h2 class="text-center">No Orders found</h2>
    }
</div>